*{
    padding:0px;
    margin:0;
    box-sizing:border-box;
  
    

}
body{
    background-color: rgb(222, 241, 235);

}

nav{
    height:60px;
    width:100%;
  
}
nav ul{
    background-image:linear-gradient(to right,rgb(151, 3, 95),rgb(130, 10, 146));
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:60px;
    width:100%;
    flex-direction: row;
    position: fixed;
    z-index: 5;
}

nav ul li{
    list-style-type: none;
    height:100%;
  
}
nav ul li a{
    text-decoration: none;
    font-size:17px;
    font-weight: 800;
    height:100%;
    display: flex;
    align-items: center;
    color:white;
    padding: 10px;
 
}


