
 .form-parent{
    display:flex;
    align-items: center;
    justify-content: center;
    height:450px;
   

}

.form-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color:white;
    box-shadow: 0px 0px 10px rgb(112, 170, 151);
    border-radius: 10px;
    width:750px;

}

.form-divide{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:50%;
    height:100%;
    border-top-left-radius: 10px;
    
}
.form-divide input[type]{

 
    width:80%;
    font-size:18px;
    padding:10px;
    border:1px solid blueviolet;
    border-radius: 10px;
    margin:10px;
    
    background-color:rgb(243, 241, 241);

}
.form-divide img{
    width:100%;
    padding:30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(209, 127, 235);
    height: 100%;
    
    
}

.form-divide p{
    margin: 5px;
}

.form-divide p a{
    color:blue;
    padding-left:3px;
    text-decoration: none;
    font-weight: 500;
}






.btnhvr{
    color:white;
    background-color: blue;
    height:40px;
    width:80px;
    font-weight: 700;
    border-radius: 5px;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow:0px 0px 4px rgb(129, 13, 165);
    

    
}
.btnhvr:hover{
    transform:scale(1.1,1.1);
    transition:all 0.1s linear;
    box-shadow: 0px 0px 5px white;
}

#loginmsg_container{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:20px;
    width:100%;
}
#loginmsg{
    background-color: rgb(233, 152, 152);
    height:50px;
    width:60%;
    opacity:0.7;
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 30px;
    
    

}
#loginmsg h1{
    color:red;
}
#loginmsg i{
    font-weight: bolder;
    font-size:21px;
    cursor:pointer;
    color:red;
}


