
 body::-webkit-scrollbar {
    display: none;
}


 .formsection form{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    flex-direction:column;
    height: auto;
    width:100%;
}
.parent_container{
    display:flex;
    flex-direction: row;
    width:95%;
}


#btn{

    height:40px;
    width:100%;
    border-radius: 5px;
    display:flex;
    gap:40px;
    align-items: center;
    justify-content: flex-stat;
    cursor:pointer;
    padding:50px;
    background-color: rgb(222, 241, 235);
    
    
    

}

select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}


.formsection{

    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    

}
.textinput{
    height:450px;
    display:flex;
    flex-direction: column;
    padding:20px 10px;
    align-items:flex-end;  
    width:100%;
    gap:5px;
    background-color: rgb(222, 241, 235);
    
    

}

.textareabox{
    height:60%;
    width:100%;
    font-size:18px;
    padding:10px;
    border-radius: 10px;
    border:1px solid blueviolet;
    text-align: justify;
    resize:none;
    box-shadow: 0px 0px 5px rgb(138, 43, 226,0.8);

    
    
}
.textareabox:focus{
    border:1px solid blueviolet;
    box-shadow: 0px 0px 5px rgb(138, 43, 226,0.8);

}
#btn1{
    color:white;
    background-color: blue;
    height:40px;
    width:80px;
    font-weight: 700;
    border-radius: 5px;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow:0px 0px 3px rgb(129, 13, 165);
    

}
#btn1:hover{
    transform:scale(1.1,1.1);
    transition:all 0.1s linear;
    box-shadow: 0px 0px 5px white;

}

#btn2{
    color:white;
    background-color: blue;
    height:40px;
    width:80px;
    font-weight: 700;
    border-radius: 5px;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow:0px 0px 3px rgb(129, 13, 165);
    

}
#btn2:hover{
    transform:scale(1.1,1.1);
    transition:all 0.1s linear;
    box-shadow: 0px 0px 5px white;
}
#speaker{
    font-size:18px;
    padding-left:5px;
    padding-top:5px;
}


#offlineMessage {
    display:none;
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    
  }
  