    {% extends "base.html" %}

    {% block content %}
    <section class="formsection">
   
    <form method="POST">
        {% csrf_token %}

        <div class="parent_container">
        <div class="textinput">
            
            <select name="selected_language1">
                {% for code, name in language.items %}
                <option value="{{code}}" {% if selected_option1 == code %} selected {% endif %}>{{name}}</option>
                {% endfor %}
            
            </select>

        <input type="textarea" name="textarea1" placeholder="enter the text" value="{{text1}}" required>

        <div id="btn">
            <button type="submit" name="resultbtn" value="btn1" id="btn1" id="speakbtn">Translate</button>
            <button type="submit" name='speakbtn' value="btn2" id="btn2" class="speakbtn">Speak</button>
            </div>
        </div>
        <div class="textinput">
        <select name="selected_language2">
            {% for code, name in language.items %}
            <option value="{{code}}" {% if selected_option2 == code %} selected {% endif %}>{{name}}</option>
            {% endfor %}
        
        </select>
        <input type="textarea" name="textarea2" value="{{final_result}}" id="text2" readonly>
        </div>
        </div>

    </form>
    </section>
</body>
<script src="/static/script.js"></script>
</html> {% endblock %}  
 

