    {% extends "base.html" %}

    {% block content %}
    
    <section class="formsection">
        {% if error %}
        <section id="loginmsg_container">
            <div id="loginmsg">
                <h1>{{message}}</h1>
                <i class="fa-solid fa-x" id="loginmsgcancel"></i>
    
            </div>
            
            
        </section>
        {% endif %}
   
    <form method="POST">
        {% csrf_token %}

        <div class="parent_container">
        <div class="textinput">
            
            <select name="selected_language1">
                {% for code, name in language.items %}
                <option value="{{code}}" {% if selected_option1 == code %} selected {% endif %}>{{name}}</option>
                {% endfor %}
            
            </select>

        <textarea name="textarea1" placeholder="enter the text"  required class="textareabox">{{text1}}</textarea>

        <div id="btn">
            <button type="submit" name="resultbtn" value="btn1" id="btn1" class="speakbtn">Translate</button>
            <button type="submit" name='speakbtn' value="btn2" id="btn2" class="speakbtn">Speak   <i class="fa-solid fa-volume-high" id="speaker"></i></button>
            </div>
        </div>
        <div class="textinput">
        <select name="selected_language2">
            {% for code, name in language.items %}
            <option value="{{code}}" {% if selected_option2 == code %} selected {% endif %}>{{name}}</option>
            {% endfor %}
        
        </select>
        <textarea name="textarea2"  id="text2" readonly class="textareabox">{{final_result}}</textarea>

        </div>
        </div>

    </form>
    </section>
</body>
<script>
    let cancellogin=document.getElementById("loginmsgcancel");
    let loginmsg_con=document.getElementById("loginmsg_container");

    cancellogin.addEventListener("click",function(){
        loginmsg_con.setAttribute("style","display:none");

    });


</script>
</html> {% endblock %}  
 

