    {% extends "base.html" %}

    {% block content %}
    <section class="form-parent">
        <form method="POST">
            {% csrf_token %}
            <div class="form-container">
                    <div class="form-divide">
                        <img src="/static/login.png" alt="image">
                    </div>
                    <div class="form-divide">
                           
                                <input type="email" name="email" placeholder="email" required>
                                <input type="text" name="password" placeholder="password" required>

                                <button type="submit" class="btnhvr">Login</button>
                                <p>Don't have an account<a href="{% url 'signup' %}">Signup</a></p>
                    </div>
                    
            </div>

        </form>
    </section>
  
</body>
</html>

{% endblock %}
