        {% extends "base.html" %}

        {% block content %}


    <section class="form-parent">
        <form method="POST">
            {% csrf_token %}
            <div class="form-container">
                    <div class="form-divide">
                        <img src="/static/sign-up.png" alt="image">
                    </div>
                    <div class="form-divide">
                                <input type="text" name="fname" placeholder="first name" required>
                                <input type="text" name="lname" placeholder="last name" required>
                                <input type="number" name="phone" placeholder="phone number" required>
                                <input type="email" name="email" placeholder="email" required>
                                <input type="text" name="password" placeholder="password" required>

                                <button type="submit" class="btnhvr">Signup</button>
                                <p>Already have an account <a href="{% url "login" %}">Login</a></p>
                    </div>
                    
            </div>

        </form>
    </section>
</body>
</html>

{% endblock %}