 {% extends "base.html" %}
 {% block content %}
<section class="speak_formsection">
    <form method="POST">
        <h1 style="color:red;" id="error">{{error1}}</h1>
        {% csrf_token %}
        <div id="msg">
            <h1>Speak anything...
                
            
            
            </h1>
            <i class="fa-solid fa-microphone"></i>
            </div>
        <button type="submit" id="speakbtn">Speak</button>
        <div class="con">
            <input type="text" name="txt1" readonly value="{{text1}}" class="textbox">
            <select name="select1">
                {% for code , name in language.items %}
                <option value="{{code}}" {% if selected_option1 == code %} selected {% endif %}>{{name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="con">
            <input type="text" name="txt1" readonly value="{{final_result}}" class="textbox">
            <select name='select2'>
                {% for code , name in language.items %}
                <option value="{{code}}" {% if selected_option2 == code %} selected {% endif %}>{{name}}</option>
                {% endfor %}
            </select>
        </div> 
        <input type="text" value="{{pron}}" class="textbox" readonly>
    </form>
</section>

</body>
<script>
let msg1=document.getElementById("msg");
let btn1=document.getElementById("speakbtn");
let err=document.getElementById("error");
let textbox1=document.getElementsByClassName("textbox");

btn1.addEventListener("click",work)



function work(){
    setTimeout(function(){
    console.log("clicked");
    msg1.setAttribute("style","display:flex;");
    err.setAttribute("style","display:none");
    for(let i=0;i<textbox1.length;i++)
    if( textbox1[i].value!=""){
        textbox1[i].value="";

    }
},500)

}

function work2(){
    if(textbox1[0].value!=""){
        msg1.setAttribute("style","display:none");
    }
};

setTimeout(work2,1000);

</script>
</html>
{% endblock %}